@import "tailwindcss";
@import "./variables.css";

@theme {
  --font-body: var(--font-inter);
  --primary: var(--primary);
}

@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;

  @variant sm {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 600px;
  }

  @variant md {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  @variant lg {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1400px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body), system-ui, sans-serif;
  letter-spacing: 0.8px;
}

body::-webkit-scrollbar {
  display: none;
}
